<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro 5.7 | Astro</title>
		<meta property="og:title" content="Dev Toolbar App API"><meta property="og:type" content="article"><meta property="og:url" content="https://docs.astro.build/en/reference/dev-toolbar-app-reference/"><meta property="og:locale" content="en"><meta property="og:description"><meta property="og:site_name" content="Docs"><meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https://docs.astro.build/open-graph/en/reference/dev-toolbar-app-reference.webp">
<meta name="twitter:image" content="https://docs.astro.build/open-graph/en/reference/dev-toolbar-app-reference.webp">

<!-- Algolia docsearch language facet -->
<meta name="docsearch:language" content="en">
<meta name="twitter:site" content="astrodotbuild">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
